# 🧪 Base de Datos (Elegir 'mysql' o 'mongo' o 'mock')
DB_TYPE=mock
PORT=3000

# 🔱 Configuración MySQL (1and1)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=concurso_poetas
DB_PORT=3306

# 🍃 Configuración MongoDB (Atlas Cloud)
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority

# 🔐 Seguridad Administrador
ADMIN_PASSWORD=VersoSecreto2025
